/* HANDLE ENTIRE FOOTER COMPONENT */
.footer{
    background: linear-gradient(to bottom right, #1A5276, #3498DB);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding-top: 4px;
}

/* HANDLE SOCIAL MEDIA IMAGES */
.social-images{
    width: 210px;
    text-align: right;
}
.social-images img{
    max-height: 40px;
    max-width: 40px;
    margin: 0 7px;
}

/* HANDLE FOOTER TEXT */
.footer-text{
    width: 60%;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    color: white;
}