/* HANDLE ENTIRE HEADER COMPONENT */
.header{
    background-color: #1A5276;
    background-image: url("../IMG/haybale-small.png");
    background-position: center;
    background-size: cover;
    font-size: 1.5em;
    text-align: center;
    color: #F1C40F;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

/* HANDLE ENTIRE NAV COMPONENT */
.nav{
    background-color: #333;
}

.nav ul{
    list-style: none;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
}

/* NAV PIECES */
.nav li {
    padding: 15px;
    width: 20vh;
}

.nav a{
    color: #fff;
    width: 20vw;
    max-width: 275px;
    text-decoration: none;
}

.nav li:hover {
    background-color: #555;
}

.active{
    background-color: #555;
}

/* MEDIA QUERIES */
/* CHANGE TO BETTER IMAGE AT 500px WIDTH */
@media only screen and (min-width: 500px){
    .header{
        background-image: url("../IMG/haybale-medium.png");
    }
}   

/* CHANGE TO BETTER IMAGE AT 1100px WIDTH */
@media only screen and (min-width: 1100px){
    .header{
        background-image: url("../IMG/haybale-large.png");
        font-size: 2.5em;
    }
}