@import url("grid.css");
@import url("header-styles.css");
@import url("footer-styles.css");

.main-content{
    background-color: #FFF;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.side-content{
    background-color: #FFF;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.subscribe-box {
    width: 80%;
    background-color: #85C1E9;
    margin: 20px auto;
    padding: 15px;
}

.subscribe-box h3 {
    font-size: 1.4em;
    color: #154360;
    padding: 5px;
}

.subscribe-input{
    font-size: 1em;
    width: 90%;
    margin: 5px;
    min-height: 30px;
}

.subscribe-button{
    color: #FFF;
    background-color: #154360;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
    font-size: 1.1em;
    margin: 5px;
}

.archive-box{
    width: 80%;
    margin: 20px auto;
    padding: 15px;
}

.archive-box ul{
    list-style: none;
}

.card{
    background-color: #eee;
    padding: 5px;
    margin: 10px auto;
    border: 1px solid #aaa;
    border-radius: 5px;
    width: 90%;
}

.card-image{
    width: 255px;
    height: 280px;
    margin: 5px auto;
}

.card-text{
    font-size: 1.1em;
    margin: 5px 1px;
}

.card-title{
    font-size: 1.1em;

}














@media only screen and (min-width: 900px){
    .main-content{
        box-shadow: none;
    }

    .subscribe-box {
        width: 90%;
        margin: 15px auto;
        padding: 5px;
    }
    
    .subscribe-box h3 {
        font-size: 1.2em;
    }
    
    .subscribe-input{
        font-size: .9em;
        padding: 2px;
        margin: 2px;
        min-height: 0;
    }
    
    .subscribe-button{
        padding: 2px;
        font-size: .9em;
    }
}