/* IMPORT COMPONENT CSS */
@import url("grid.css");
@import url("body-styles.css");
@import url("header-styles.css");
@import url("footer-styles.css");

/* MAIN CONTENT */
.main-content{
    background-color: #FFF;
    box-shadow: 10px 10px 5px #aaaaaa;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.post-text,
.column-heading,
.date-line,
.by-line,
.article-figure{
 width: 90%;
 margin: 5px auto;
}

.post-image{
    width: 100%;
}

.date-line,
.by-line{
    font-size: .9em;
}

.post-text{
    font-size: 1.1em;
}

.post-image{
    height: auto;
}


/* SIDEBAR CONTENT */
.side-content{
    background-color: #FFF;
    box-shadow: 10px 10px 5px #aaaaaa;
}


/* MEDIA QUERIES (DEFAULT MOBILE)*/

/* TABLET */
@media only screen and (min-width: 700px){
    .post-text{
        font-size: 1.3em;
    }
}


/* PC MONITOR */
@media only screen and (min-width: 900px){
    .main-content{
        box-shadow: none;
    }
}

/* HANDLE ARTICLE/POST IMAGE SIZING FOR LARGER SCREENS */
@media only screen and (min-width: 1081px){
    .article-figure{
        float: right;
        display: block;
        width: 450px;
        margin: auto;
    }
}