/* IMPORT COMPONENT CSS */
@import url("grid.css");
@import url("body-styles.css");
@import url("header-styles.css");
@import url("footer-styles.css");

/* MAIN CONTENT */
.main-content{
    background-color: #FFF;
    box-shadow: 10px 10px 5px #aaaaaa;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.card{
    background-color: #eee;
    padding: 5px;
    margin: 10px auto;
    border: 1px solid #aaa;
    border-radius: 5px;
    width: 90%;
}

.card-image{
    width: 255px;
    height: 280px;
    margin: 5px auto;
}

.card-text{
    font-size: 1.1em;
    margin: 5px 1px;
}

.card-title{
    font-size: 1.1em;
}

.column-heading{
    width: 80%;
    margin: 10px;
}

/* SIDEBAR CONTENT */
.side-content{
    background-color: #FFF;
    box-shadow: 10px 10px 5px #aaaaaa;
}

/* MEDIA QUERIES (DEFAULT MOBILE)*/

/* TABLET */
@media only screen and (min-width: 700px){
    .card-content{
        display: flex;
        flex-direction: row;
    }

    .card-text{
        font-size: 1.3em;
    }
}


/* PC MONITOR */
@media only screen and (min-width: 900px){
    .main-content{
        box-shadow: none;
    }

    .card{
        background-color: #ffffff;
        background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    }
}

/* WIDEST SCREENS: MOVE MAIN CONTENT TO TWO COLUMNS */
@media only screen and (min-width: 1900px){
    .card{
        width: 45%;
        height: 325px;
    }
}